name: Auto close first issues

on:
  issues:
    types: [opened]

permissions:
  issues: write

jobs:
  close:
    runs-on: ubuntu-latest

    steps:
      - name: Close issue automatically
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.issues.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              state: 'closed'
            })
